@import 'fonts';

.welcome-paragraph {
    padding-left: 16px;
}

.welcome-text {
    margin-bottom: 10px;
}

.upcoming-courses-table {
    tr:nth-of-type(even) {
        background-color: rgb(0 0 0 / 4%);
    }

    table {
        min-width: 650px;
    }
}

.no-wrap {
    white-space: nowrap;
}

.with-ellipsis-course {
    display: block;
    overflow: hidden;
    max-width: 80ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.with-ellipsis-teachers {
    display: block;
    overflow: hidden;
    max-width: 30ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer {
    text-align: center;
}
